body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 51px;
}

h2 {
    font-size: 39px;
}

footer p {
    text-align: center;
}

.orange-color {
    color: orange;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 80%;
}

.top-banner {
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}

.lower-banner {
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.link-button {
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(orange, rgb(255, 0, 191));
    padding: 12px 38px;
    font-weight: 700;
    border-radius: 26px;
}

.experience-area {
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    width: 40%;
    margin-left: 6%;
    margin-right: 6%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 35px gray;
}

#web-developer-experience {
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}

#i-am-a-web-developer {}